In [ ]:
A1
str="the string variable"
list=[1,2,5,4,5.6,"mayank"]
float=3.45
tuple=(1,2,4,8,5)

In [ ]:
A2
var1 = str
var2 = str
var3 = list
var4 = float

In [ ]:
A3
(i) / = division operator
example:
    a=3
    b=10
    print(b/a)  {output= 3.33}
(ii) % = modulo operator (it returns remainder)
example:
    a=3
    b=10
    print(b%a)  {optpur= 1}
(iii) // = Floor Division Operator (returns division value as integer)
example:
    a=3
    b=10
    print(b//a)  {optpur= 3}
(iv) ** = Exponential Operator
example:
     a=2
    b=5
    print(a**b)  {optpur= 32}

In [ ]:
A4
l=[1,2,5,4,55.34,"mayank", True]
for i in l:
    print(i)
    print(type(i))

In [ ]:
A5
a=100
b=5
count=0
while(a%b==0):
    a=a//b
    count+=1
print(count)

In [ ]:
A6
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l:
    if(i%3==0):
        print("the number is divisible by 3")
    else:
        print("the number is not divisible by 3")

In [ ]:
A7